*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
th,td{
    border: 2px solid black;
    padding: 5px 8px;
}
table{
    border: 1px black;
    border-collapse: collapse;
}
body{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}